$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);
$Very-Dark-Blue: hsl(234, 12%, 34%);
$Grayish-Blue: hsl(229, 6%, 66%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$Font-size: 1.5rem;
$Font-family: "Poppins", sans-serif;

html,
body,
div,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}
body {
  background: $Very-Light-Gray;
}

.section__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  padding: 6rem 3rem 3rem 3rem;
  background: $Very-Light-Gray;
  align-items: center;
  justify-content: center;

  .container__flex {
    display: flex;
    flex-direction: column;
  }

  .section__title--200 {
    font-family: $Font-family;
    font-size: 2.3rem;
    text-align: center;
    font-weight: 200;
    color: $Grayish-Blue;
  }
  .section__title--400 {
    font-family: $Font-family;
    font-size: 2.4rem;
    text-align: center;
    font-weight: 400;
    color: $Very-Dark-Blue;
  }
  .section__text {
    font-size: $Font-size;
    font-family: $Font-family;
    text-align: center;
    color: $Grayish-Blue;
    font-weight: 200;
    padding: 1rem 0 3rem 0;
  }
  .section__container__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .card {
      width: 100%;
      max-width: 350px;
      max-height: 217px;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      background: #fff;
      border-radius: 0.7rem;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
      border-top: 5px solid transparent;
      margin: 1.5rem 0;

      .card__title {
        font-size: 2rem;
        font-family: $Font-family;
        color: $Very-Dark-Blue;
        font-weight: 600;
        padding: 1rem 0;
        letter-spacing: 1px;
      }
      .card__text {
        font-size: 1.4rem;
        font-family: $Font-family;
        color: $Grayish-Blue;
        font-weight: 200;
      }

      .card__img {
        display: flex;
        align-self: flex-end;
        width: 100%;
        max-width: 5rem;
        padding-top: 3rem;
      }

      &.card--cyan {
        border-top: 5px solid $Cyan;
      }
      &.card--blue {
        border-top: 5px solid $Blue;
      }
      &.card--orange {
        border-top: 5px solid $Orange;
      }
      &.card--red {
        border-top: 5px solid $Red;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 0 0 2rem 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1100px) {
  .section__content {
    padding: 6rem 1.5rem 3rem 1.5rem;
    width: 100%;

    .section__title--200 {
      font-size: 3.2rem;
    }
    .section__title--400 {
      font-size: 3rem;
    }
    .section__text {
      font-size: $Font-size;
      max-width: 50rem;
    }

    .section__container__card {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;

      .card {
        margin: 1rem;
      }
    }
  }
}
